<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.jinghuang.demo">

	<uses-sdk android:minSdkVersion="14"/>

	<application android:icon="@drawable/icon_blue"
	             android:theme="@android:style/Theme.Holo.Light.DarkActionBar"
	             android:label="@string/app_name">
		<activity android:name="com.jinghuang.demo.MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>

		<activity
				android:name=".mortgage.MortgageActivity"
				android:label="@string/mortgage_lable">
		</activity>

		<activity android:name=".chat.ChatActivity" />
		<activity android:name=".chat.PieChartActivity" />
		<activity android:name=".chat.LineChartActivity1" />
		<activity android:name=".chat.LineChartActivity2" />
		<activity android:name=".chat.LineChartActivityColored" />
		<activity android:name=".chat.BarChartActivity" />
		<activity android:name=".chat.HorizontalBarChartActivity" />
		<activity android:name=".chat.AnotherBarActivity" />
		<activity android:name=".chat.BarChartActivityMultiDataset" />

	</application>
</manifest>
